* {box-sizing: border-box; padding: 0; margin: 0;}

:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
      --light-grey: #dce4e3;
    --text-color: #084236;

    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

